<div class="store-page">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand" href="/">
          <%= image_tag("logo.png", alt:"MasterMorsy", style: "width: 64%;")  %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faqs">FAQS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/conatc">Contact Us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <section class="products">
    <div class="container">
      <div class="row">
        <% @books.each do |book| %>
        <div class="col-md-6">
          <article class="one-products">
            <%= image_tag(book.img_url, alt: book.title, title: book.title, class: "product-image")  %>
            <div class="details">
              <h5 class="font-weight-bold" title="<%= book.title %>"><%= truncate(book.title, length: 30) %></h5>
                <p><%= truncate(book.description, length: 100) %></p>
                <div class="actions">
                <h5 class="product-price">$<%= book.price %></h5>
                <button type="button" name="button" class="addToCart">add to cart</button>
              </div>
            </div>
          </article>
        </div>
        <% end %>

      </div>
    </div>
  </section>
</div>
