<div class="store-page">

  <section class="products">
    <div class="container">

      <% if notice %>
        <p id="notice" class="alert alert-warning"><%= notice %></p>
      <% end %>

      <div class="row">
        <% @books.each do |book| %>
        <div class="col-md-6">
          <article class="one-products">
            <%= image_tag(book.img_url, alt: book.title, title: book.title, class: "product-image")  %>
            <div class="details">
              <h5 class="font-weight-bold" title="<%= book.title %>"><%= truncate(book.title, length: 30) %></h5>
                <p><%= truncate(book.description, length: 100) %></p>
                <div class="actions">
                <h5 class="product-price">$<%= book.price %></h5>
                <%= button_to 'Add To Cart', line_items_path(book_id: book), class: 'addToCart', remote: true %>
              </div>
            </div>
          </article>
        </div>
        <% end %>

      </div>
    </div>
  </section>
</div>
